body {
	background: url(../images/mountains.jpg) no-repeat center top;
}

header {
	background: rgba(0,0,0,.8);
	height: 200px;
	width: 500px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

h1 {
	color: white;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 100px;
	top: 30px;
	position: relative;
}

p {
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	color: white;
	text-decoration: none;
	font-size: 25px; 
	font-family: 'Amatic SC', cursive;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: white;
}

nav {
	text-align: center;
}

nav a {
	text-decoration: none;
	margin: 0px 50px;
	color: white;
	font-size: 20px;
}

#container {
	height: 400px;
	width: 500px;
	display: block;
	background: rgb(0,0,0,);
	margin-left: auto;
	margin-right: auto;
}

#container2 {
	height: 500px;
	width: 300px;
	background: black;
}


#container3 {
	height: 245px;
	width: 300px;
	display: block;
	box-shadow: 10px 10px 5px rgba(0,0,0,.8);
	top: 30px;
	position: relative;
}

#contentBlock {
	position: relative;
	display: block;
	height: 260px;
	width: 400px;
	border-radius: 12%;
	background: rgba(0,0,0,.8);
	float: left;
}

h3 {
	position: relative;
	text-align: justify;
	vertical-align: middle;
	padding: 10px;
	font-size: 35px;
	color: white;
	font-family: 'Amatic SC', cursive; 
}

/* Holds the link bubbles */
#links {
	position: relative;
	height: auto;
	background: rgb(0,0,0,);
	float: right;
}

/* Bubbles holding links to inner pages */
.box {
	height: 100px;
	width: 100px;
	background: rgba(0,0,0,.8);
	border-radius: 75%;
}

.box:hover {
	background: white;
}

img {
	width: 100%;
	height: 100%;
}





